version: '2.0'

services:
  db:
    image: mysql:8.0
    volumes:
      - mysql_data:/var/lib/mysql
      - ./backup.sql:/docker-entrypoint-initdb.d/backup.sql
    environment:
      MYSQL_DATABASE: med_db
      MYSQL_ROOT_PASSWORD: snewi832#
    ports:
      - 3307:3306
    restart: always
    networks:
      - django-network

  web:
    build: .
    image: mediforbidden_web
    #command: python manage.py runserver 0.0.0.0:8000
    command: ["./wait-for-it.sh", "db:3306", "--", "python", "manage.py", "runserver", "0.0.0.0:8000"]
    volumes:
      - .:/app
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      - SECRET_KEY=django-insecure-!q7#u-1tucuqadzf7(z6i&ql#qam$=2x(b4p6%3m2fv%j6&cvq
      - DATABASE_NAME=med_db
      - DATABASE_USER=root
      - DATABASE_PASSWORD=snewi832#
      #- DATABASE_HOST=db
      - DATABASE_PORT=3306
      - DB_HOST=db
    networks:
      - django-network
  
volumes:
  mysql_data:

networks:
    django-network:
      driver: bridge