<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>병용금지 의약품 조회</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    
    <div class="search-container">
        <header class ="search-header">
            병용금지 의약품 확인 Check Medication Compatability
        </header>
        <div class="input-group">
            <input type="text" placeholder="type the 1st Med's name" id="productA">
            <button class="search-btn" onclick="validateMedicine('productA')">🔍</button>
        </div>
        <div id="medicine-list" style="display:none;"></div>
        <div class="input-group">
            <input type="text" placeholder="type the 2nd Med's name" id="productB">
            <button class="search-btn" onclick="validateMedicine('productB')">🔍</button>
        </div>
        <div style="text-align: right;">
            <button class="search-btn disabled" id="combinedSearchBtn" onclick="searchCombined()" disabled>Search</button>
        </div>
    </div>

    <script>
        let medA_id = "";
        let medB_id = "";

        function validateMedicine(productId) {
            // 이 함수는 med_db.med에서 의약품 유무를 체크한다
            let inputVal = document.getElementById(productId).value;
            
            // AJAX 요청을 통해 의약품을 검증한다
            
            $.ajax({
                url: '/check_medicine/', // Django URL endpoint
                method: 'GET',
                data: {
                    'product_name' : inputVal
                },
                success: function(data) {

                    if (data.medicines && data.medicines.length > 0) {
                        displayMedicines(data.medicines, productId);
                    }
                },
                error: function(err) {
                    console.error("Error fetchig medicines", err);
                }
            });
        }

        function displayMedicines(medicines, productId) {
            let medicineListDiv = document.getElementById("medicine-list");
            medicineListDiv.innerHTML = ""; // Clear previous list

            // 테이블 헤더 생성
            let table = document.createElement("table");
            let header = document.createElement("tr");
            let headers = [
                "제품명 (product name)", 
                "성분명 (compound name)", 
                "성분코드 (compound code)", 
                "제품코드 (product code)", 
                "업체명 (company name)"
            ];
            headers.forEach(h => {
                let th = document.createElement("th");
                th.innerText = h;
                header.appendChild(th);
            });
            table.appendChild(header);


            medicines.forEach(med => {
                let tr = document.createElement("tr");
                let data = [
                    med.product_name,
                    med.compound_name,
                    med.compound_code,
                    med.product_code,
                    med.company_name
                ];
                data.forEach(d => {
                    let td = document.createElement("td");
                    td.innerText = d;
                    tr.appendChild(td);
                });

                // 클릭 이벤트 추가
                tr.onclick = function() {
                    if (productId === 'productA') {
                        medA_id = med.id;

                    } else if (productId === 'productB') {
                        // 추후에 medB_id 로직 추가
                        medB_id = med.id;
                    }

                    // 사용자의 입력 상자에 선택한 의약품 이름을 설정합니다
                    document.getElementById(productId).value = med.product_name;
                    
                    // 목록을 숨깁니다
                    medicineListDiv.style.display = "none";

                    if (medA_id && medB_id) {
                        document.getElementById('combinedSearchBtn').classList.remove('disabled');
                        document.getElementById('combinedSearchBtn').disabled = false;
                    }
                };
                table.appendChild(tr);
            });
            medicineListDiv.appendChild(table);
            medicineListDiv.style.display = "block";
        }

        function searchCombined() {
            // 제품명 A와 B가 모두 검증되면 이 함수에서 병용금지 조회를 실행하실 수 있습니다.
            console.log('Searching for combined products...');
        }
    </script>
</body>
</html>